.center90 {
    text-align: center;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.graph-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: auto;
}

.pie-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: auto;
}

.pie-chart {
    width: 30%;
}

.year-container {
    background: rgba(9, 9, 121, 1);
    margin: auto;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0px;
    width: 100%;
    z-index: 100;
}

body {
    background: rgb(2, 0, 36);
    background: radial-gradient(
        circle,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 45%,
        rgba(0, 212, 255, 1) 100%
    );
    color: white;
}

.black {
    color: black;
}

.about {
    height: 1000px;
}

.margin {
    margin-bottom: 100px;
}

.white {
    color: white;
}

.github {
    display: flex;
    text-decoration: none;
    color: white;
    margin-top: auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
